/Makefile
/config.h
/config.h.in~
/config.log
/config.status
/autom4te.cache
/01-dnssec-trigger
/build
/dnssec-trigger-control
/dnssec-trigger-control-setup
/dnssec-trigger-panel
/dnssec-trigger-panel.desktop
/dnssec-trigger-script
/dnssec-trigger.8
/dnssec-triggerd
/dnssec-triggerd.service
/example.conf
/test/json-test
/test/other-test
