[Unit]
Description=Reconfigure local DNS(SEC) resolver on network change
After=syslog.target network.target
After=dnssec-triggerd-keygen.service
Wants=dnssec-triggerd-keygen.service
After=unbound.service
Wants=unbound.service

[Service]
PIDFile=/var/run/dnssec-triggerd.pid
#EnvironmentFile=-/etc/sysconfig/dnssec-trigger
ExecStart=/usr/sbin/dnssec-triggerd -d
ExecStartPost=/etc/NetworkManager/dispatcher.d/01-dnssec-trigger-hook
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
