[Unit]
Description=dnssec-triggerd Control Key And Certificate Generator
After=syslog.target
ConditionPathExists=!/etc/dnssec-trigger/dnssec_trigger_control.key

[Service]
Type=oneshot
ExecStart=/usr/sbin/dnssec-trigger-control-setup -d /etc/dnssec-trigger/
ExecStart=/sbin/restorecon /etc/dnssec-trigger/*

[Install]
WantedBy=multi-user.target
